
@using PagedList
@using PagedList.Mvc
<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title adeti3">Yayınevi</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body table-responsive p-0" style="height: 210px;">
            <table class="table">
                <thead>

                </thead>
                <tbody id="yayineviYukle">

                    @*<tr>
                            <td>Functional-requirements.docx</td>

                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                    <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>*@

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <button type="button" class="btn btn-block.btn-sm btn-outline-success" data-toggle="modal" data-target="#modal-smc"><a href="#"><img src="~/Assets/dist/img/iconfinder_plus-24_103172.ico" height="8" width="8"></a></button>


        </div>
    </div>
    <!-- /.card -->
</div>


<div class="modal fade" id="modal-smc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Şimdi Yayınevini Ekleyelimmm ◕ ‿ ◕ </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" id="yayineviEkleForm">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Yayınevi</label>
                            <input type="text" class="form-control yyevi" placeholder="Filiz">
                        </div>

                    </div>

                    <!-- /.card-body -->

                </form>
                <div class="modal-footer justify-content-between">

                    <button type="button" class="btn btn-success swalDefaultInfo " data-dismiss="modal" id="yayineviEkleButton">Kaydet</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div class="modal fade" id="modal-sm3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hatalı/Eksik Olmasın ٩(͡๏̯͡๏)۶ </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<form role="form">*@
                <div class="card-body ">
                    <div class="form-group">
                        <label>Yayinevi</label>
                        <input type="text" class="form-control" id="yayinev">
                    </div>


                </div>

                <!-- /.card-body -->
            </div>

            <div class="modal-footer justify-content-between">

                <button type="button" class="btn btn-success swalDefaultInfo " data-dismiss="modal" id="idsi3">Kaydet</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div class="modal fade" id="modal-danger3">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Silinsin mi ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bak emin misin aşkım geri getiremeyiz&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">

                <button type="button" class="btn btn-outline-light" data-dismiss="modal" id="silId3">Siliyorum</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $().ready(function (){
        $.ajax({
            type: "POST",
            url: '@Url.Action("YayineviListele" , "Category")',
            dataType: "JSON",
            contentType: "application/json;charset=utf-8",
            success: function (gelenVeri) {
                var s = 1;
                for (var item in gelenVeri) {
                    var a = s++;
                    $("#yayineviYukle").append("<tr><td>" + a + "</td><td> " + gelenVeri[item].yayinevi + "</td><td class='text-right py-0 align-middle'><div class='btn-group btn-group-sm'><input type='hidden' value='" + gelenVeri[item].id + "' /><a href='Yayinevi/" + gelenVeri[item].id + "' class='btn btn-info duzenle3' data-toggle='modal' data-target='#modal-sm3' id=" + gelenVeri[item].id + "><i class='fas fa-eye'></i></a><a  href = 'Yayınevi/" + gelenVeri[item].id + "'  class='btn btn-danger sil' data-toggle='modal' data-target='#modal-danger3'  id=" + gelenVeri[item].id + "><i class='fas fa-trash'></i></a></div></td></tr> ");                   
                }
                $(".adeti3").append(" ( " + a + " ) ");
                $(".duzenle3").click(function () {
                    console.log($(this).parent("div").find("input:eq(0)[type='hidden']").val());
                    console.log($(this).parents("tr:eq(0)").find("td:eq(1)").html());
                    $("#yayinev").val($(this).parents("tr:eq(0)").find("td:eq(1)").html());
                    $("#idsi3").val($(this).parent("div").find("input:eq(0)[type='hidden']").val());
                });
                    $("#idsi3").click(function () {
                        var obj = {};
                        obj.id = $.trim($("#idsi3").val());
                        obj.yayinevi = $.trim($("#yayinev").val());
                    $.ajax({
                        type: "POST",
                        url: ' @Url.Action("YayıneviDuzenle", "Category")',
                        datatype: JSON,
                        data: JSON.stringify(obj),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data == "1") {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,

                                })
                                Toast.fire({
                                    icon: 'info',
                                    title: 'Düzenleme tamam aşkım'
                                })
                                setTimeout(function () {

                                    location.reload();
                                }, 3000);
                            }

                        }
                    });


                    });

                $(".sil").click(function () {

                    console.log($(this).parent("div").find("input:eq(0)[type='hidden']").val());
                    $("#silId3").val($(this).parent("div").find("input:eq(0)[type='hidden']").val());
                });

                        $("#silId3").click(function () {
                    var obj = {};
                    obj.id = $("#silId3").val();
                    $.ajax({
                        type: "POST",
                        url: ' @Url.Action("YayıneviSil", "Category")',
                        datatype: JSON,
                        data: JSON.stringify(obj),
                        contentType: "application/json;charset=utf-8",
                        success: function (data)
                        {
                            if (data == "1") {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,

                                })
                                Toast.fire({
                                    icon: 'success',
                                    title: 'Silme işlemi başarılı'
                                })
                                setTimeout(function () {

                                    location.reload();
                                }, 3000);
                            }



                        }
                    });


                });



            }

        });
        $("#yayineviEkleButton").click(function () {
            var obj = {};
            obj.yayinevi = $.trim($(".yyevi").val());
             $.ajax({
                type: "POST",
                url: ' @Url.Action("YayıneviEkle", "Category")',
                datatype: JSON,
                data: JSON.stringify(obj),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data == "0") {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,

                        })
                        Toast.fire({
                            icon: 'error',
                            title: 'Hatalı/Eksik Giriş Yeniden Deneyin!'
                        })
                    }
                    if (data == "1") {
                        document.getElementById("turEkleForm").reset();
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,

                        })
                        Toast.fire({
                            icon: 'success',
                            title: 'Yeni bir ekleme yaptın'
                        })
                        setTimeout(function () {

                            location.reload();
                        }, 3000);

                    }
                }
            });

        });



    });
</script>

